<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the corregimientos_init() hook (in hooks/corregimientos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="corregimientos-VcrIdCorr-<%%VALUE(VcrIdCorr)%%>" class="corregimientos-VcrIdCorr"><%%SELECT%%><%%VALUE(VcrIdCorr)%%><%%ENDSELECT%%></td>
		<td id="corregimientos-VcrCorr-<%%VALUE(VcrIdCorr)%%>" class="corregimientos-VcrCorr"><%%SELECT%%><%%VALUE(VcrCorr)%%><%%ENDSELECT%%></td>
