<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the historico_vt_init() hook (in hooks/historico_vt.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="historico_vt-VcrCodHis-<%%VALUE(VcrId)%%>" class="historico_vt-VcrCodHis text-right"><%%SELECT%%><%%VALUE(VcrCodHis)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrDir-<%%VALUE(VcrId)%%>" class="historico_vt-VcrDir"><%%SELECT%%><%%VALUE(VcrDir)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdBarVe-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdBarVe"><%%SELECT%%><%%VALUE(VcrIdBarVe)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdCom-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdCom"><%%SELECT%%><%%VALUE(VcrIdCom)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrIdCorr-<%%VALUE(VcrId)%%>" class="historico_vt-VcrIdCorr"><%%SELECT%%><%%VALUE(VcrIdCorr)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrLon-<%%VALUE(VcrId)%%>" class="historico_vt-VcrLon"><%%SELECT%%><%%VALUE(VcrLon)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrLat-<%%VALUE(VcrId)%%>" class="historico_vt-VcrLat"><%%SELECT%%><%%VALUE(VcrLat)%%><%%ENDSELECT%%></td>
		<td id="historico_vt-VcrDirNom-<%%VALUE(VcrId)%%>" class="historico_vt-VcrDirNom"><%%SELECT%%><%%VALUE(VcrDirNom)%%><%%ENDSELECT%%></td>
