<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: CONSECUTIVO: -->
		<div class="form-group historico_vt-VcrCodHis" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CONSECUTIVO:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(VcrCodHis)%%></div>
			</div>
		</div>
		<!-- Field: DIRECCION: -->
		<div class="form-group historico_vt-VcrDir" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">DIRECCION:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(VcrDir)%%></div>
			</div>
		</div>
		<!-- Field: BARRIO: -->
		<div class="form-group historico_vt-VcrIdBarVe" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">BARRIO:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="VcrIdBarVe-readonly<%%RND1%%>"><%%COMBOTEXT(VcrIdBarVe)%%></span></div>
			</div>
		</div>
		<!-- Field: COMUNA: -->
		<div class="form-group historico_vt-VcrIdCom" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">COMUNA:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="VcrIdCom-readonly<%%RND1%%>"><%%COMBOTEXT(VcrIdCom)%%></span></div>
			</div>
		</div>
		<!-- Field: CORREGIMIENTO: -->
		<div class="form-group historico_vt-VcrIdCorr" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CORREGIMIENTO:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="VcrIdCorr-readonly<%%RND1%%>"><%%COMBOTEXT(VcrIdCorr)%%></span></div>
			</div>
		</div>
		<!-- Field: LONGITUD: -->
		<div class="form-group historico_vt-VcrLon" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">LONGITUD:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(VcrLon)%%></div>
			</div>
		</div>
		<!-- Field: LATITUD: -->
		<div class="form-group historico_vt-VcrLat" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">LATITUD:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(VcrLat)%%></div>
			</div>
		</div>
		<!-- Field: DIRECCION NOMENCLATURA -->
		<div class="form-group historico_vt-VcrDirNom" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">DIRECCION NOMENCLATURA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(VcrDirNom)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
